* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Lato;
  background-color: #474c59;
}
html {
  scroll-behavior: smooth;
}
iframe {
  display: none;
}
h1 {
  font-family: Lato;
  font-size: 24px;
  font-weight: 900;
  line-height: 28.8px;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
}

.container {
  width: 360px;
  max-width: 100%;
  color: #d9d1c7;
  margin-left: auto;
  margin-right: auto;
  padding: 0 24px 0 24px;
  padding-bottom: 200px;
}
.top_text {
  padding: 20px 0 40px 0;
}

.cover {
  width: 312px;
  position: relative;
  height: 241.86px;
  perspective: 1000px;
}
.cover_img {
  width: 241.86px;
  position: absolute;
  z-index: 10;
}

.disc_img {
  width: 225.74px;
  height: 225.74px;
  right: 0;
  top: 12px;
  z-index: 1;
  position: absolute;
}
.disc_logo {
  width: 80.62px;
  height: 80.62px;
  bottom: 76.5px;
  right: 71.5px;
  position: absolute;
  border-radius: 50%;
  z-index: 2;
}

.detail {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  text-align: left;
  color: #d9d1c780;
}

.desc {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: left;
  color: #d9d1c766;
  padding-top: 15px;
}
.spotify_button {
  border: solid 2px #131026;
  width: 312px;
  margin-top: 15px;
  border-radius: 4px;

}

.spotify_button_title {
  color:#131026;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  text-align: left;
  padding: 16px 0 16px 0;
  
}
.svg {
  padding-left: 10px;
  padding-top: 11px;
  color: #131026;
}



.spotify_button_content {
  display: flex;
  justify-content: center;
}
section.track_list,
section.albums {
  margin-top: 60px;
}

ol {
  list-style: decimal-leading-zero;
  padding: 0;
}

.track {
  display: flex;
  align-items: center;
  padding-left: 0;
}

.name {
  padding: 6px 0 6px 12px;
  margin-right: 10px;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.run {
  margin-left: 10px;
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
  color: #d9d1c780;
  padding: 8px 0 8px 8;
}

.dashed {
  flex-grow: 1;
  height: 2px;
  border-bottom: dashed 1px #d9d1c726;
}
.counter {
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  line-height: 19.2px;
  text-align: left;
  color: #d9d1c780;
  padding: 8.5px 0 8.5px 0;
}

li {
  margin-bottom: 12px;
}

.albums {
  width: 100%;
  display: flex;
  margin-top: 24px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.album_img {
  height: 118px;
  margin: 0 8px 0 8px;
  box-shadow: 0 0 10px 0 #00000080;
}

.box {
  width: 150px;
  height: 172px;
  padding: 16px 8px 38px 8px;
  background: #0000001a;
  display: block;
  margin-top: 12px;

  max-width: fit-content;
}

.album_name {
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
  line-height: 14.4px;
  text-align: center;
  margin: 8px 8px 8px 8px;
  overflow: hidden;
  text-overflow: ellipsis;

  white-space: nowrap;
}
@media (max-width: 1000px) {
  max-width: 100%;
}
@media screen and (min-width: 1000px) {
  .container {
    width: 1000px;
    /* width: 100%; */
  }
  .info {
    display: flex;
    justify-content: center;
    height: 745px;
    align-items: center;
  }
  .top_text {
    text-align: center;
  }

  .detail_box {
    width: 500px;
    margin-left: 113px;
  }
  .box {
    width: 232px;
    height: 267px;
    background: #0000001a;
    transition: background-color 150ms;
  }

  .box:hover {
    background-color: #00000057;
  }
  .album_img {
    width: 200px;
    height: 200px;
    box-shadow: 0 0 10px 0 #00000080;
    object-fit: cover;
    margin: 0px 10px 0 10px;
  }

  .album_name {
    text-align: center;
  }

  .spotify_button_title {
    margin-left: 12px;
  }


  .cover {
    perspective: 1000px;
    overflow: visible;
  }

  .cover_img {
    transform-origin: left;

    transition: all 200ms;
  }

  .disc {
    overflow: visible;
  }

  .disc_img {
    transition: transform 200ms ease-in-out;
  }

  .disc_logo {
    transition: transform 200ms ease-in-out;
  }
  .cover:hover .disc_logo {
    transform: translateX(70px) rotate(56deg);
  }

  .cover:hover .cover_img {
    transform: rotateY(-25deg);
  }

  .cover:hover .disc_img {
    transform: translateX(70px) rotate(56deg);
  }

  .spotify_button{
    width: 191px;
    transition: all 300ms ease-in-out;

  }

  .spotify_button:hover .svg{
    color: #D9D1C7;
  }

  .spotify_button:hover{
    background-color: #131026;

  }

  .spotify_button:hover .spotify_button_title{
    color: #D9D1C7;
  }

  
}
